body{
    margin: 0;
    padding: 0;
    background-color:ghostwhite;
}

.header{
    width: 100%;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    box-sizing:40px;
    padding: 0px 48px;
}

.kafene{
color:rgba(0,0,0,0.8);
font:24px Poppins,sans-serif;
font-weight: 500;
width:120px;
}

.order{
    color:rgba(0,0,0,0.8);
font:14px Poppins,sans-serif;
font-weight: 500;
margin:0px 10px;
padding:24px 0px 16px;
text-decoration: none;

}
.product{
    color:rgba(0,0,0,0.8);
font:14px Poppins,sans-serif;
font-weight: 500;
font-style:normal;
margin:0px 10px;
padding:24px 0px 16px;
text-decoration: none;
}

.user{
    color:#000000CC;
    font:14px Poppins,sans-serif;
    font-weight: 500;
    margin:0px 10px;
padding:24px 0px 16px;
text-decoration: none;
}

.logout{
    color:#000000CC;
    font:14px Poppins,sans-serif;
    font-weight: 600;
    margin-left:70%;
    text-decoration: none;
}

h1{
    color:#000000CC;
    font:34px Poppins,sans-serif;
    font-weight: 600;
}
h3{
    color:#000000CC;
    font:19px Poppins,sans-serif;
    font-weight: 600;
    margin-left:5px;
}
.allorders{
    margin-top:7%;
    margin-left:5%;
}
#count{
    margin-left:5px;
    color:#000000CC;
    font:16px Poppins,sans-serif;
    font-weight: 500;
}

input{
    margin-top:20px;
    margin-left:10px;
    color:#000000CC;
    font-size:16px;
    font-family: Poppins,sans-serif;
    font-weight: 400;
}

label{
    font-size:16px;
    font-family: Poppins,sans-serif;
}

.homepagefilteroption{
    display: flex;
   flex-wrap: wrap;
}

.productdetails{
    margin-top: 0%;
     margin-left:50px; 
}
th{
     color:#000000CC;
    font:14px Poppins,sans-serif;
    font-weight: 700;
    padding:12px 24px;
   border-collapse: collapse; 
  

}
table{
     margin-right:100%;
    margin-bottom:30px;
    /* border:3px solid ghostwhite; */
    border-collapse: collapse;
}
td{
    padding:12px 12px;
    padding-left:5%;
    background-color: white;
    border-collapse: collapse;
    color:#000000CC;
    font:14px Poppins,sans-serif;
    font-weight: 500;
    height: 40px;
   width: 150px;
   border-collapse: collapse;
  }
tr{
    background-color:ghostwhite;
    margin-bottom:12px;
    border:14px solid ghostwhite;
    border-collapse: collapse;
   
}

.styled-cell {
    font: 14px Poppins, sans-serif;
    color:#8c8c8c;
  }